<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="index.css">
    <title>layout</title>
  </head>
  <body>
    <header>
      <div id="links">
        <a href="/employed">Employed</a>
        <a href="/unemployed">Unemployed</a>
        <a href="/">All Robots</a>
      </div>
    </header>
    

      {{{yield}}}



  </body>
</html>
