<!-- <header>
  <h1>Unemployed</h1>
</header> -->
{{#users}}
<img src="{{avatar}}" alt="">
<h3 id="name">{{name}}</h3>
<p>{{education}}</p>
<p>{{skills}}</p>
<p>{{phone}}</p>
<p>{{job}}</p>
<p>{{company}}</p>
{{/users}}
