
#links {

  margin: 20px;
  padding-right: 40px;
}


#Unemployed {
  color: red;
  font-weight: bold;
}
#name {
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
}


#robot_profile {
  min-width: 18%;
white-space: normal;
flex: 0 1 18%;
padding: 10px;
padding-left: 10px;
padding-right: 10px;
margin: 10px;
border: 1px solid black;
word-wrap: break-word;

}
